---
import MaxWidthWrapper from "@/common/components/MaxWidthWrapper.astro";

const promociones = [
  {
    area: "Gimnasio",
    precio: "$399",
    frase: "Ponte en forma este verano",
    beneficios: ["Obercard", "Inscripción gratis", "Acceso ilimitado"],
    imagen: "gym.webp",
    color: "from-purple-primary via-blue-primary to-yellow-primary",
  },
  {
    area: "Fitness Class",
    precio: "$349",
    frase: "Descubre tu gracia interior",
    beneficios: ["Obercard", "Inscripción gratis", "Coaches certificados"],
    imagen: "ballet.webp",
    color: "from-yellow-primary via-blue-primary to-purple-primary",
  },
];
---

<section class="py-16">
  <MaxWidthWrapper className="relative z-10">
    <h2
      class="text-6xl sm:text-7xl md:text-8xl font-bold text-black-oberlicht text-center tracking-tighter"
    >
      Nuestras Promociones
    </h2>
    <section class="grid gap-6 md:grid-cols-2 mt-8">
      {
        promociones.map((card) => (
          <article class="relative w-full aspect-[4/3] rounded-2xl overflow-hidden group">
            <figure>
              <img
                class="absolute inset-0 h-full w-full object-cover object-center group-hover:scale-105 transition-all duration-300"
                src={`/ober-brand/${card.imagen}`}
                alt="Brand image"
              />
            </figure>
            <div
              class={`absolute inset-0 bg-gradient-to-br ${card.color} opacity-50`}
            />
            <section class="absolute inset-0 flex flex-col justify-between p-6 text-white">
              <section class="flex justify-between">
                {card.area && (
                  <p class="px-2 py-1 bg-black-oberlicht rounded-full text-xs uppercase">
                    {card.area}
                  </p>
                )}
                {card.precio && (
                  <p class="px-2 py-1 bg-black-oberlicht text-yellow-primary rounded-full text-xs uppercase">
                    {card.precio}
                  </p>
                )}
              </section>

              <div class="space-y-2">
                <h4 class="text-4xl font-bold">{card.frase}</h4>

                <ul class="flex flex-wrap gap-2">
                  {card.beneficios.map((benefit) => (
                    <li class="px-3 py-1 bg-black-oberlicht rounded-full text-sm">
                      {benefit}
                    </li>
                  ))}
                </ul>
              </div>
            </section>
          </article>
        ))
      }
    </section>
  </MaxWidthWrapper>
</section>
