---
import MaxWidthWrapper from "@/common/components/MaxWidthWrapper.astro";

const promociones = [
  {
    area: "Gimnasio",
    precio: "$399",
    frase: "¡Ponte en forma este verano!",
    beneficios: ["Obercard", "Inscripción gratis", "Acceso ilimitado"],
    imagen: "/ober-brand/gym.webp",
    color: "from-purple-500 to-pink-500",
  },
  {
    area: "Fitness Class",
    precio: "$349",
    frase: "Descubre tu gracia interior",
    beneficios: ["Obercard", "Inscripción gratis", "Coaches certificados"],
    imagen: "/ober-brand/ballet.webp",
    color: "from-purple-500 to-pink-500",
  },
];
---

<div class="py-32">
  <MaxWidthWrapper className="relative z-10">
    <h5
      class="text-6xl sm:text-7xl md:text-8xl font-bold text-black text-center tracking-tighter"
    >
      Nuestras Promociones
    </h5>
    <div class="grid gap-6 md:grid-cols-2 mt-8">
      {
        promociones.map((card, index) => (
          <div class="relative w-full aspect-[16/9] rounded-2xl overflow-hidden group">
            <div
              class="absolute inset-0 bg-cover bg-center"
              style={`background-image: url(${card.imagen})`}
            />
            <div
              class={`absolute inset-0 bg-gradient-to-br ${card.color} opacity-65`}
            />
            <div class="absolute inset-0 flex flex-col justify-between p-6 text-white">
              <div class="flex justify-between">
                {card.area && (
                  <div class="px-2 py-1 bg-black rounded-full text-xs uppercase">
                    {card.area}
                  </div>
                )}
                {card.precio && (
                  <div class="px-2 py-1 bg-black text-yellow-primary rounded-full text-xs uppercase">
                    {card.precio}
                  </div>
                )}
              </div>

              <div class="space-y-2">
                <div class="text-4xl font-bold">{card.frase}</div>

                <div class="flex flex-wrap gap-2">
                  {card.beneficios.map((benefit) => (
                    <div class="px-3 py-1 bg-black rounded-full text-sm">
                      {benefit}
                    </div>
                  ))}
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </MaxWidthWrapper>
</div>
